/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'klavika_mediumplain';
  src: url("../fonts/klavika_medium_plain-webfont.eot");
  src: url("../fonts/klavika_medium_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_medium_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_medium_plain-webfont.woff") format("woff"), url("../fonts/klavika_medium_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_medium_plain-webfont.svg#klavika_mediumplain") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zurich_cn_btregular';
  src: url("../fonts/zurich_cn_bt-webfont.eot");
  src: url("../fonts/zurich_cn_bt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/zurich_cn_bt-webfont.woff2") format("woff2"), url("../fonts/zurich_cn_bt-webfont.woff") format("woff"), url("../fonts/zurich_cn_bt-webfont.ttf") format("truetype"), url("../fonts/zurich_cn_bt-webfont.svg#zurich_cn_btregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfontregular';
  src: url("../fonts/zurich-bold.eot");
  src: url("../fonts/zurich-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/zurich-bold.woff") format("woff"), url("../fonts/zurich-bold.ttf") format("truetype"), url("../fonts/zurich-bold.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 185, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 189, ../sass/screen.scss */
h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: bold;
}

/* line 198, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #666666;
  opacity: 1 !important;
}

/* line 199, ../sass/screen.scss */
::-moz-placeholder {
  color: #666666;
  opacity: 1 !important;
}

/* Firefox 19+ */
/* line 200, ../sass/screen.scss */
:-moz-placeholder {
  color: #666666;
  opacity: 1 !important;
}

/* Firefox 18- */
/* line 201, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #666666;
  opacity: 1 !important;
}

/* line 203, ../sass/screen.scss */
body {
  font: 12px/18px Arial, Arial, Helvetica, sans-serif;
  background: url(../images/background.png);
  color: #3a3731;
}

/* line 209, ../sass/screen.scss */
.wrapper {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

/* line 215, ../sass/screen.scss */
.header {
  overflow: hidden;
  margin: 15px 0 11px;
}

/* line 220, ../sass/screen.scss */
.header_top {
  overflow: hidden;
  margin: 0 0 24px;
}

/* line 225, ../sass/screen.scss */
.navigation {
  float: right;
  text-align: right;
}

/* line 230, ../sass/screen.scss */
.logo {
  width: 236px;
  height: 65px;
  float: left;
  margin: 5px 0 0 26px;
}
/* line 236, ../sass/screen.scss */
.logo img {
  max-width: 100%;
}

/* line 241, ../sass/screen.scss */
.phone {
  margin: 0 0 13px 0;
}
/* line 244, ../sass/screen.scss */
.phone > p {
  font-size: 13px;
  line-height: 15px;
  line-height: 14px;
  color: #585755;
  margin: 0;
  letter-spacing: 0.3px;
}
/* line 252, ../sass/screen.scss */
.phone > strong {
  font-size: 22px;
  line-height: 24px;
}

/* line 257, ../sass/screen.scss */
.header_menu {
  overflow: hidden;
}
/* line 260, ../sass/screen.scss */
.header_menu > li {
  margin: 0 0px 0 9px;
  float: left;
}
/* line 264, ../sass/screen.scss */
.header_menu > li > a {
  text-decoration: none;
  color: #209a28;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.3px;
}
/* line 270, ../sass/screen.scss */
.header_menu > li > a:hover {
  text-decoration: underline;
}

/* line 277, ../sass/screen.scss */
.categoris {
  border-style: solid;
  border-width: 1px;
  border-color: #0c932f;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #0f941a 0%, #66c13e 100%);
  background-image: -webkit-linear-gradient(90deg, #0f941a 0%, #66c13e 100%);
  background-image: -ms-linear-gradient(90deg, #0f941a 0%, #66c13e 100%);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* line 295, ../sass/screen.scss */
.categoris > li {
  padding: 12px 0 9px;
}
/* line 299, ../sass/screen.scss */
.categoris > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 17px;
  font-family: 'webfontregular';
  text-transform: uppercase;
  text-shadow: 0px -2px 0px #005c13;
}
/* line 307, ../sass/screen.scss */
.categoris > li > a:hover {
  text-decoration: underline;
  text-shadow: 0px 0 0px #005c13;
}

/* line 316, ../sass/screen.scss */
.main {
  overflow: hidden;
  border: 1px solid #e1dbce;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 19px;
  position: relative;
  display: table;
  width: 100%;
}

/* line 327, ../sass/screen.scss */
.sidebar {
  width: 248px;
  background-color: #f4f2ec;
  border-left: 1px solid #e8e3da;
  padding: 19px 22px 25px 21px;
  height: 100%;
  display: table-cell;
  vertical-align: top;
}

/* line 337, ../sass/screen.scss */
.content {
  width: 740px;
  padding: 19px 15px 0;
  display: table-cell;
  vertical-align: top;
}

/* line 344, ../sass/screen.scss */
.breadcrumbs {
  margin: 0 0 5px;
  overflow: hidden;
}
/* line 348, ../sass/screen.scss */
.breadcrumbs li {
  padding-left: 23px;
  float: left;
}
/* line 352, ../sass/screen.scss */
.breadcrumbs li > a {
  text-decoration: none;
  color: #209a28;
  font-size: 13px;
  line-height: 15px;
}
/* line 358, ../sass/screen.scss */
.breadcrumbs li > span {
  font-size: 13px;
  line-height: 15px;
  color: #585755;
}

/* line 365, ../sass/screen.scss */
.sidebar_center {
  padding: 20px 0 25px 0;
}

/* line 369, ../sass/screen.scss */
.sidebar_top {
  padding: 0 0 25px 0;
}

/* line 373, ../sass/screen.scss */
.sidebar_center,
.sidebar_top {
  border-bottom: 1px solid #e8e3da;
}
/* line 377, ../sass/screen.scss */
.sidebar_center > h5,
.sidebar_top > h5 {
  font-size: 14px;
  line-height: 16px;
  color: #3f3b30;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
/* line 384, ../sass/screen.scss */
.sidebar_center > p,
.sidebar_top > p {
  font-size: 14px;
  line-height: 16px;
  color: #3f3b30;
  margin-bottom: 10px;
}

/* line 391, ../sass/screen.scss */
.input_text {
  width: 120px;
  height: 25px;
  border: 1px solid #cfcdc5;
  border-radius: 5px;
  box-shadow: 0 0 0px 3px #e8e5de;
  padding: 0 0 0 5px;
}
/* line 399, ../sass/screen.scss */
.input_text--full {
  width: 100%;
}

/* line 404, ../sass/screen.scss */
.form_select {
  margin-bottom: 20px;
}

/* line 408, ../sass/screen.scss */
.form_sign_up,
.form_search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2px 5px 0 3px;
}

/* line 416, ../sass/screen.scss */
.form_sign_up {
  padding-top: 9px;
}

/* line 420, ../sass/screen.scss */
.wrap_input_btn {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 427, ../sass/screen.scss */
.select {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #cfcdc5;
  box-shadow: 0 0 5px 2px #cfcdc5;
  margin-bottom: 18px;
  color: #999;
}

/* line 437, ../sass/screen.scss */
.btn-wrap {
  width: 146px;
  height: 40px;
  background: url(../images/btn_search_center.png) repeat-x;
  position: relative;
  margin: 0 45px 0 10px;
}
/* line 444, ../sass/screen.scss */
.btn-wrap:after {
  width: 45px;
  height: 40px;
  content: "";
  background-image: url(../images/btn_search_arrow.png);
  position: absolute;
  right: -45px;
  top: 0;
}
/* line 454, ../sass/screen.scss */
.btn-wrap:before {
  width: 8px;
  height: 40px;
  content: "";
  background-image: url(../images/btn_search_left.png);
  position: absolute;
  left: -8px;
  top: 0;
}

/* line 465, ../sass/screen.scss */
.btn_search_holidays {
  border: none;
  cursor: pointer;
  padding: 2px 0 0 19px;
  height: 40px;
  margin: 0;
  text-align: left;
  width: 200px;
  outline: none;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 2;
  background: none;
  text-transform: uppercase;
  font-family: 'klavika_mediumplain';
  font-size: 15px;
  line-height: 17px;
  color: #fff;
  text-shadow: 0px -2px 0px #005c13;
}

/* line 486, ../sass/screen.scss */
.list_selects {
  padding-bottom: 2px;
}
/* line 489, ../sass/screen.scss */
.list_selects > li {
  margin-bottom: 12px;
}

/* line 494, ../sass/screen.scss */
.btn_search {
  width: 67px;
  height: 25px;
  border: 1px solid #1a9739;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px #cfcdc5;
  background-color: #49b232;
  color: #fff;
  margin-left: 6px;
  cursor: pointer;
}

/* line 506, ../sass/screen.scss */
.sidebar_bottom {
  padding: 20px 0 0 0;
}
/* line 509, ../sass/screen.scss */
.sidebar_bottom > h5 {
  margin-bottom: 4px;
  color: #3f3b30;
  font-size: 13px;
}
/* line 515, ../sass/screen.scss */
.sidebar_bottom > strong {
  color: #3f3b30;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.6px;
}
/* line 522, ../sass/screen.scss */
.sidebar_bottom > p {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #3f3b30;
  letter-spacing: 0.5px;
}

/* line 531, ../sass/screen.scss */
.content_title {
  padding: 5px 0 17px 0;
  position: relative;
  z-index: 40;
}
/* line 536, ../sass/screen.scss */
.content_title > h2 {
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 10px;
  max-width: 420px;
}
/* line 542, ../sass/screen.scss */
.content_title > p {
  font-size: 14.36px;
  line-height: 19px;
  max-width: 420px;
}
/* line 547, ../sass/screen.scss */
.content_title > p > a {
  color: green;
}

/* line 553, ../sass/screen.scss */
.grid__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 0 -11px;
}
/* line 559, ../sass/screen.scss */
.grid__list li {
  max-width: 220px;
  margin: 0 0 41px 0;
  list-style: none;
}
/* line 564, ../sass/screen.scss */
.grid__list li a {
  text-decoration: none;
  display: block;
}
/* line 568, ../sass/screen.scss */
.grid__list li a h5 {
  color: #3a3731;
  font-size: 14px;
  margin: 0 0 7px 5px;
  letter-spacing: 1.4px;
}
/* line 575, ../sass/screen.scss */
.grid__list li a img {
  border-radius: 7px;
  margin-bottom: 10px;
  display: block;
  border: 3px solid #e9e6df;
}
/* line 583, ../sass/screen.scss */
.grid__list li p {
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 0 4px;
}

/* line 591, ../sass/screen.scss */
.title_img {
  position: absolute;
  right: 50px;
  bottom: -16px;
  width: 187px;
  height: 148px;
}
/* line 598, ../sass/screen.scss */
.title_img img {
  max-width: 100%;
}

/* line 604, ../sass/screen.scss */
.info {
  max-width: 990px;
  width: 100%;
  background-color: #F4F2EC;
  margin-bottom: 15px;
  border-radius: 0 0 5px 5px;
}

/* line 612, ../sass/screen.scss */
.info_title {
  border-radius: 5px 5px 0 0;
  background-color: #777066;
  padding: 12px 0;
  border-bottom: 2px solid #635543;
}
/* line 618, ../sass/screen.scss */
.info_title > h4 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  text-shadow: 0.5px 0.866px 0px black;
  font-weight: normal;
  letter-spacing: 1.2px;
}

/* line 630, ../sass/screen.scss */
.info_box {
  overflow: hidden;
  padding: 20px 25px 17px;
}

/* line 635, ../sass/screen.scss */
.contact_us {
  width: 225px;
  padding-left: 49px;
  float: right;
}
/* line 640, ../sass/screen.scss */
.contact_us > h5 {
  font-size: 14px;
  line-height: 16px;
  color: #64522a;
  margin-bottom: 10px;
  font-family: 'klavika_mediumplain';
  font-weight: normal;
}
/* line 649, ../sass/screen.scss */
.contact_us > p {
  font-size: 11px;
  line-height: 13px;
  color: #64522a;
  margin: 0 0 6px;
  display: block;
  letter-spacing: 1px;
}
/* line 656, ../sass/screen.scss */
.contact_us > p strong {
  padding-right: 4px;
}

/* line 662, ../sass/screen.scss */
.city_state {
  padding-top: 20px;
}
/* line 665, ../sass/screen.scss */
.city_state p {
  color: #64522a;
  line-height: 20px;
  letter-spacing: 1px;
}

/* line 672, ../sass/screen.scss */
.twitter_us {
  width: 193px;
  float: left;
}
/* line 676, ../sass/screen.scss */
.twitter_us > h5 {
  font-size: 14px;
  line-height: 16px;
  color: #64522a;
  background: url(../images/twitter.png) no-repeat;
  background-position: right center;
  margin-bottom: 8px;
  font-family: 'klavika_mediumplain';
  font-weight: normal;
}
/* line 686, ../sass/screen.scss */
.twitter_us > p {
  font-size: 12px;
  line-height: 18px;
  color: #89867d;
}

/* line 693, ../sass/screen.scss */
.btn_facebook {
  margin-top: 10px;
  width: 100%;
  height: 33px;
  color: #fff;
  background: url(../images/btn-facebook.png) repeat-x;
  background-position: 0 -33px;
  display: block;
  text-decoration: none;
  position: relative;
  padding: 8px 0 0 20px;
}
/* line 705, ../sass/screen.scss */
.btn_facebook:before, .btn_facebook:after {
  content: '';
  height: 33px;
  position: absolute;
  top: 0;
}
/* line 713, ../sass/screen.scss */
.btn_facebook:before {
  left: 0;
  background: url(../images/btn-facebook.png) repeat-x;
  background-position: 0 0;
  width: 19px;
}
/* line 720, ../sass/screen.scss */
.btn_facebook:after {
  right: 0;
  background: url(../images/btn-facebook.png) repeat-x;
  background-position: 0 -66px;
  width: 41px;
}

/* line 728, ../sass/screen.scss */
.quick_links {
  width: 495px;
  margin: 0 auto;
  border-right: 1px solid #d8d6ce;
  border-left: 1px solid #d8d6ce;
  padding: 0 6px;
}
/* line 735, ../sass/screen.scss */
.quick_links > h5 {
  font-size: 14px;
  line-height: 16px;
  color: #64522a;
  margin-left: 20px;
  font-family: 'klavika_mediumplain';
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 747, ../sass/screen.scss */
.quick_links_list > li {
  width: 126px;
  display: inline-block;
  margin-left: 22px;
  vertical-align: top;
}
/* line 753, ../sass/screen.scss */
.quick_links_list > li > a {
  font-size: 12px;
  line-height: 14px;
  color: #64522a;
  margin-bottom: 6px;
  display: block;
  vertical-align: top;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 762, ../sass/screen.scss */
.quick_links_list > li > a:hover {
  text-decoration: underline;
}

/* line 769, ../sass/screen.scss */
.footer {
  text-align: center;
  margin-bottom: 75px;
  letter-spacing: 1px;
}
/* line 774, ../sass/screen.scss */
.footer > strong {
  font-size: 11px;
  line-height: 13px;
  color: #64522a;
  margin-bottom: 10px;
}
/* line 780, ../sass/screen.scss */
.footer > p {
  font-size: 11px;
  line-height: 13px;
  color: #64522a;
  padding-top: 3px;
}
